HTML CSS JSResult Skip Results Iframe
EDIT ON
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* body {
  font-family: "Raleway", sans-serif;
} */

.container {
  width: 1240px;
  padding: 0 20px;
  margin: 50px auto 0;
}

/* .row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
} */

.portfolio-item {
  padding: 20px;
  flex-basis: 33.3333%;
  max-width: 33.3333%;
}
.portfolio-item__demo {
  padding-top: 100%;
  position: relative;
}
.portfolio-item__demo img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: 0% 0%;
  transition: all 3s ease-in-out;
}
.portfolio-item__demo:hover img {
  object-position: 0% 100%;
}
.portfolio-item__demo .quick-view {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.72);
  opacity: 0;
  visibility: hidden;
  transition: all ease 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.portfolio-item__demo:hover .quick-view {
  opacity: 1;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.4);
}
.portfolio-item__demo .quick-demo {
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 8px 16px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
}
.portfolio-item__wrapper {
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.11);
  cursor: pointer;
  transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.portfolio-item__wrapper:hover {
  box-shadow: 0px 22px 30px -5px rgba(0, 0, 0, 0.3);
}
.portfolio-item__title h2 {
  font-size: 16px;
  text-align: center;
  padding: 10px 0;
  margin: 0;
}

#iframe-content {
  width: 92%;
  height: 500px;
  position: inherit;
  top: 0;
  left: 191px;
  right: -81px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  margin: auto;
}
#iframe-content .iframe-title {
  position: relative;
  z-index: 1;
  order: 1;
  height: 46px;
  background-color: #eee;
  border-top: 1px solid #ddd;
  color: #191e23;
  line-height: 46px;
  font-size: 16px;
  display: flex;
  padding: 0 30px;
}
#iframe-content .iframe-title .demo-title {
  flex-grow: 1;
}
#iframe-content .iframe-wrapper {
  flex-grow: 1;
  position: relative;
  z-index: 1;
  overflow: auto;
}
#iframe-content .site-loading {
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#iframe-content iframe {
  width: 100%;
  height: 100%;
  border: 0;
  display: block;
}
#iframe-content.tablet .site-loading, #iframe-content.mobile .site-loading {
  background-color: #333;
}
#iframe-content.tablet iframe, #iframe-content.mobile iframe {
  border-radius: 30px;
  background-color: #111;
  margin: 30px auto 80px;
}
#iframe-content.tablet iframe {
  width: 768px;
  height: 1025px;
  padding: 40px 10px 70px;
}
#iframe-content.mobile iframe {
  width: 360px;
  height: 640px;
  padding: 40px 10px 70px;
}

.devices button {
  cursor: pointer;
  background: 0 0;
  border: none;
  height: 45px;
  padding: 4px 11px;
  margin: 0 0 0 -4px;
  box-shadow: none;
  border-top: 1px solid transparent;
  border-bottom: 4px solid transparent;
  transition: 0.15s background-color ease-in-out, 0.15s border-color ease-in-out;
  outline: none;
}
.devices button svg {
  height: 1em;
  font-size: 18px;
  transition: 0.15s fill ease-in-out;
}
.devices button:hover {
  background-color: #fff;
}
.devices button:hover svg {
  fill: #0073aa;
}
.devices button.active {
  border-bottom-color: #191e23;
}
.devices button.active:hover {
  border-bottom-color: #0073aa;
}

.under-construction {
  text-align: center;
  margin: 40px 0;
}
.under-construction svg {
  height: 1em;
  font-size: 18px;
  color: red;
}

@media (max-width: 991px) {
  .devices button[data-device-mode] {
    display: none;
  }
}
View SCSS Code

Resources1×0.5×0.25×Rerun